parameters:
	ignoreErrors:
		-
			message: "#^Method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:push\\(\\) invoked with 3 parameters, 0 required\\.$#"
			count: 2
			path: src/Relations/BelongsToMany.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:push\\(\\) invoked with 3 parameters, 0 required\\.$#"
			count: 6
			path: src/Relations/MorphToMany.php
