parameters:
	ignoreErrors:
		-
			message: "#^Method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:push\\(\\) invoked with 3 parameters, 0 required\\.$#"
			count: 2
			path: src/Relations/BelongsToMany.php

		-
			message: "#^Call to an undefined method TDeclaringModel of Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:pull\\(\\)\\.$#"
			count: 1
			path: src/Relations/BelongsToMany.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:push\\(\\) invoked with 3 parameters, 0 required\\.$#"
			count: 6
			path: src/Relations/MorphToMany.php

		-
			message: "#^Call to an undefined method TDeclaringModel of Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:pull\\(\\)\\.$#"
			count: 2
			path: src/Relations/MorphToMany.php

		-
			message: "#^Method PDPhilip\\\\Elasticsearch\\\\Connection\\:\\:cursor\\(\\) should return Generator but return statement is missing\\.$#"
			count: 1
			path: src/Connection.php
